*{

    font-family: arial;
}
body {
    padding: 50px;
}
header {
    padding-left: 730px;
}
.paragraph {
    font-size: 17px;
}
img, #address {
    display: inline-block;
    vertical-align: top;
}
img {
    margin-right: 15px;
}
#address {
    margin-top: 5px;
}